.ti {
    color:  #A4A400;
    background-color:#F0F0F0;
     font-family: Lucida Sans Unicode, Helvetica, Arial, sans-serif;
     font-weight: bold;
     font-size: 22px;
   text-align:center;
   text-decoration: underline;
}

h1 {
     font-weight: normal;
     font-size: 18px;
    text-align: left;
    color:  #A4A400;
    background-color:#F0F0F0;
   text-align:left;
   text-decoration: underline;
   word-spacing: 0.25em;
}
body{
     font-size: 11px;
    color:  #404040;
     font-family: Georgia, Garamond, sans-serif;
       background-image: url("images/silverware.jpg");
       background-repeat: no-repeat, repeat;
       height: 500px; /* You must set a specified height */
  background-position: center; /* Center the image */
  background-size: cover; /* Resize the background image to cover the entire container */

  

      
}
img {
  display: block;
  margin-right: auto;
  width: 10%;
}
#trait_dessus 
{ 
width: 940px;
    height: auto;
    clear: both;
	padding-left: 10px;
	padding-top: 5px;
	margin-top: -20px;
    background-color: white;

}

h6{
 line-height:0px;
 margin: 0.1
 }
 
 #ul1{
     
  list-style-type:none;
 }
  
 
 #ulimage{
     
  list-style-type:none;
 }
 