.mainh1 {
    color:  #A4A400;
    background-color:#F0F0F0;
     font-family: "Lucida Sans Unicode", Helvetica, Arial, sans-serif;
     font-weight: bold;
     font-size: 22px;
   text-align:center;
   text-decoration: underline;
}

h1 {
     font-weight: normal;
     font-size: 18px;
    text-align: left;
    color:  #A4A400;
    background-color:#F0F0F0;
   text-align:left;
   text-decoration: underline;
   word-spacing: 0.25em;
}
body{
     font-size: 11px;
    color:  #404040;
     font-family: Georgia, Garamond, sans-serif;
}


h6{
 line-height:0px;
 margin: 0.1
 }
 
 #ul1{
     
  list-style-type:none;
 }
 a{
    color:  #A4A400;
     
 }  
 
 .ulimage{
    
   list-style-image: url("/images/pie_icon.gif");
   }
 
  
 #end{
    float: right;
}
#buttons{
    display: flex;
    justify-content: flex-end;
}
.barend{
 float: right;
 text-align: right;
    
}
.gras{
   font-weight: bold; 
}
.under{
   text-decoration: underline; 
}
.linet{
   text-decoration:line-through; 
 }
 
  blockquote {
    background: #FFFFA8;
    border-radius: 0px;
     font-style: italic;
}