
.bg { 
  background-image: url("../../images/background.png");
 height: 100%; 
 }

 .banner { 
  background-image: url("../../images/bannerbg.png");
 height: 50px; /* You must set a specified height */
  background-repeat: repeat-x;
 }
 
 #mainh1{
    font-family:  Tahoma, Verdana, sans-serif;
    text-shadow: 3px 3px #999999;
  font-size:24pt;
  font-weight: bold;
 }
body {
	text-align: center;
        font-size: 8pt;
         font-family:  Tahoma, Verdana, sans-serif;
           margin: 0px;
           padding: 0px;
       
}

 
 .maindiv {
  border: 2px solid red;
  padding: 10px;
  border-radius: 25px;
  width: 800px;
   overflow: auto;
    margin-left: auto;
    margin-right: auto;
}
   /* Pattern styles */
.left-half {
  float: left;
  width: 50%;
}
.right-half {
  float: right;
  width: 50%;
 overflow: auto;
    margin-left: auto;
    margin-right: auto;
}
div.error {
	margin-top: 10em;
	font-size: 20pt;
}
div.emoticon {
	margin: 0.5em;
	font-weight: bold;
	font-size: 40pt;
}
div.msg {
	margin-top: 2em;
}
div.url {
	font-weight: bold;
	margin-top: 1em;
}