.main{
    text-align: center;
    font-family:sans-serif;
    font-size: 18pt;
    color: blue;
    text-decoration:underline; 
    
}

dt {
  display: block;
  margin-top: 2em;
  /*margin-bottom: 1em;*/
  margin-left: 0;
  margin-right: 0;
}
.back{
    background-color : #D3D3D312;
}